
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}

.header {
  background: linear-gradient(to bottom, #ffcccc 0%, #ffffff 100%);;
  color: #4b4748;
  border-radius: 2px;
  text-align: center;
  padding: 20px;
}

  h1{
    font-weight: bold;
    font-family: 'Square Peg', cursive;
    font-size: 50pt;
  }

  h2{
    font-weight: normal;
  }

.about-me{
  border-radius: 2px;
  text-align: center;
  padding: 10px;
}

.row {
  display: flex;
  gap: 30px;
  margin: 20px;
}

.column {
  flex: 33.33%;
  text-align: center;
}

.blogcolumn {
  flex: 33.33%;
  text-align: left;
  padding: 20px;
}

.blog-column-text{
  text-align: left;
  padding: 20px;
}

a{
  color: #4b4748;
}

.post-photo{
    border-radius: 5px;
    border: 10px; 
    height: auto;
    max-width: 50%;
}

img {  
  max-width: 100%;  
  height: auto;  
  } 

li{
  text-align: left;
}

.blog-footer{
  text-align: left;
  padding: 20px;
}
